<div id="top-bar">Movie Trailer App - Contact Form</div>

<div id="contact">
    <form class="coral-Form coral-Form--vertical" method ="POST" action="/bin/contact">
        <section class="coral-Form-fieldset">
            <div class="coral-Form-fieldwrapper">
                <label class="coral-Form-fieldlabel" id="label-vertical-textfield-0">First Name</label>
                <input required="true" is="coral-textfield" class="coral-Form-field" placeholder="Enter First Name" name="firstName" labelledby="label-vertical-textfield-0">
            </div>
            <div class="coral-Form-fieldwrapper">
                <label class="coral-Form-fieldlabel" id="label-vertical-textfield-0">Last Name</label>
                <input required="true" is="coral-textfield" class="coral-Form-field" placeholder="Enter Last Name" name="lastName" labelledby="label-vertical-textfield-0">
            </div>
            <div class="coral-Form-fieldwrapper">
                <label class="coral-Form-fieldlabel" id="label-vertical-textfield-0">Mobile</label>
                <input required="true" is="coral-textfield" class="coral-Form-field" placeholder="Enter Mobile No." name="mobile" labelledby="label-vertical-textfield-0">
            </div>
            <div class="coral-Form-fieldwrapper">
                <label class="coral-Form-fieldlabel" id="label-vertical-textfield-0">Trailer Name</label>
                <input required="true" is="coral-textfield" class="coral-Form-field" placeholder="Enter Trailer Name" name="movieTrailerName" labelledby="label-vertical-textfield-0">
            </div>
            <div class="coral-Form-fieldwrapper">
                <button is="coral-button" class="coral-Form-field" variant="primary">Submit</button>
            </div>
        </section>
    </form>

</div>
